/* Оформление */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
body {
  overflow-x: hidden;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: rgba(1, 1, 1, 1);
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* секция с приветсвием */
.greetings {
}

.greetings img {
  max-width: 100%;
  height: auto;
}

.name {
  position: absolute;

  width: 60vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-image: url(../img/name.png);
  background-size: contain;
  background-position: center; /* Центрирует изображение */
  top: 2vh;
  left: 20vw;
}

/* промежуточный блок */
.bigtape {
  position: absolute;
  top: 32vh;
}
.bigtape img {
  max-width: 100%;
  height: auto;
  z-index: 2;
}

/* секция со скотчем */
.box {
}

.box img {
  max-width: 100%;
  height: auto;
}

.tape1 {
  position: absolute;

  width: 13vw;
  height: 26vh;
  background-image: url(../img/minitape1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* Центрирует изображение */
  top: 32vh;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.minitape1 {
  top: 30vh;
  left: 5vw;
  z-index: 3;
  position: absolute;
}

.minitape1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 8vw;
}

.minitape1:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape2 {
  top: 45vh;
  left: 15vw;
  z-index: 3;
  transform: rotate(-18deg);
  position: absolute;
}
.minitape2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
}

.minitape2:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-3deg) scale(1.02);
}
.minitape3 {
  top: 27vh;
  left: 19vw;
  z-index: 3;
  transform: rotate(-15deg);
  position: absolute;
}

.minitape3 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 11vw;
}

.minitape3:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-3deg) scale(1.02);
}

.minitape4 {
  top: 34vh;
  left: 27vw;
  z-index: 3;
  transform: rotate(16deg);
  position: absolute;
}

.minitape4 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 12vw;
}

.minitape4:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(13deg) scale(1.02);
}

.minitape5 {
  top: 34vh;
  left: 43vw;
  z-index: 3;
  transform: rotate(40deg);
  position: absolute;
}

.minitape5 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 11vw;
}

.minitape5:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(37deg) scale(1.02);
}

.minitape6 {
  top: 28vh;
  left: 50vw;
  z-index: 3;
  position: absolute;
}

.minitape6 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 10vw;
}

.minitape6:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape7 {
  top: 32vh;
  left: 60vw;
  z-index: 3;
  position: absolute;
}

.minitape7 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 5vw;
  transform: rotate(5deg);
}

.minitape7:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape8 {
  top: 38vh;
  left: 63vw;
  z-index: 3;
  position: absolute;
}

.minitape8 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
  transform: rotate(-5deg);
  position: absolute;
}

.minitape8:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape9 {
  top: 43vh;
  left: 72vw;
  z-index: 3;
  transform: rotate(19deg);
  position: absolute;
}

.minitape9 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
  transform: rotate(-5deg);
}

.minitape9:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(17deg) scale(1.02);
}

.minitape10 {
  top: 20vh;
  left: 70vw;
  z-index: 3;
  transform: rotate(315deg);
  position: absolute;
}
.minitape10 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 12vw;
  transform: rotate(-5deg);
}

.minitape10:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(318deg) scale(1.02);
}

.minitape11 {
  top: 18vh;
  left: 80vw;
  z-index: 3;
  transform: rotate(-10deg);
  position: absolute;
}

.minitape11 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
  transform: rotate(-5deg);
}

.minitape11:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-7deg) scale(1.02);
}

.minitape12 {
  top: 23vh;
  left: 87vw;
  z-index: 3;
  transform: rotate(-20deg);
  position: absolute;
}

.minitape12 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 11vw;
  transform: rotate(-20deg);
}

.minitape12:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-17deg) scale(1.02);
}

.minitape13 {
  top: 30vh;
  left: 1vw;
  z-index: 3;
  transform: rotate(-4deg);
  position: absolute;
}

.minitape13 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 6vw;
}
.minitape13:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(1deg) scale(1.02);
}

.minitape14 {
  top: 34vh;
  left: 14vw;
  z-index: 3;
  transform: rotate(13deg);
  position: absolute;
}
.minitape14 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 6vw;
}

.minitape14:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(10deg) scale(1.02);
}

.minitape15 {
  top: 33vh;
  left: 42vw;
  z-index: 3;
  transform: rotate(-26deg);
  position: absolute;
}

.minitape15 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 8vw;
}
.minitape15:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-20deg) scale(1.02);
}

.minitape16 {
  top: 29vh;
  left: 36vw;
  z-index: 3;
  transform: rotate(-340deg);
  position: absolute;
}
.minitape16 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 9vw;
}

.minitape16:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-317deg) scale(1.02);
}

/* <!-- cекция с изучением предметов --> */

.boxwiththings {
  position: absolute;
  top: 120vh;
  z-index: -1;
}

.boxwiththings img {
  max-width: 100%;
  height: auto;
}

.box2 {
  position: absolute;
  z-index: 1;
  top: 100vw;
}

.box2 {
  height: 80vh;
  z-index: 3;
  position: absolute;
  top: 185vh;
  left: 35vw;
}

.box2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shadow img {
  width: 100%;
  height: 100%;
}

.shadow {
  height: 55vh;
  z-index: 2;
  position: absolute;
  top: 200vh;
  left: 42vw;
}

.boxinfront {
  height: 54vh;
  object-fit: contain;
  position: absolute;
  top: 203vh;
  left: 41vw;
  z-index: 5;
}

.boxinfront img {
  width: 100%;
  height: 100%;
}

.firstwheel {
  height: 50vh;
  object-fit: contain;
  position: absolute;
  top: 171vh;
  left: 41vw;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: rotate 10s linear infinite;
}

.firstwheel img {
  width: 100%;
  height: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.firstwheel:hover {
  transform: scale(1.2);
  top: calc(171vh - 4%);
}

.lamp {
  height: 70vh;
  object-fit: contain;
  position: absolute;
  top: 157vh;
  left: 50vw;
  z-index: 4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.lamp img {
  width: 100%;
  height: 100%;
}

.lamp:hover {
  transform: scale(1.1);
  top: calc(157vh - 2%);
}

.printingmachine {
  height: 65vh;
  object-fit: contain;
  position: absolute;
  top: 160vh;
  left: 53vw;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: rotate(-13deg);
}

.printingmachine img {
  width: 100%;
  height: 100%;
}

.printingmachine:hover {
  top: calc(160vh - 2%);
  transform: scale(1.1);
}

.paper {
  height: 40vh;
  object-fit: contain;
  position: absolute;
  top: 220vh;
  left: 5vw;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
}

.paper img {
  width: 100%;
  height: 100%;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* секция с глазами */

.eyebackground {
  position: absolute;

  top: 140vw;
}

.eyebackground img {
  max-width: 100%;
  height: auto;
}

.eyebackground2 {
  position: absolute;

  top: 120vw;
  z-index: 3;
}

.eyebackground2 img {
  max-width: 100%;
  height: auto;
}

.pupil1 {
  width: 30vw;
  height: 29vh;
  position: absolute;

  top: 330vh;
  z-index: 2;
  left: 6vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pupil2 {
  width: 30vw;
  height: 29vh;
  position: absolute;

  top: 320vh;
  z-index: 2;
  left: 60vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pupil1 img,
.pupil2 img {
  width: 40%;
  height: auto;
  transition: transform 0.2s ease-out;
  pointer-events: none;
}

/* рамка */
.border {
  position: absolute;

  top: 183vw;
  z-index: 3;
  left: -3vw;
}

.border img {
  max-width: 100%;
  height: auto;
}

/* секция с рисованием */
#drawingCanvas {
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 39vw;
  height: auto;
  cursor: crosshair;
  background: transparent;
}
.desk {
  position: absolute;

  top: 180vw;
}

.desk img {
  max-width: 100%;
  height: auto;
}

.book {
  width: 50vw;
  position: absolute;

  top: 195vw;
  left: 6vw;
}

.book img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.pen {
  width: 23vw;
  position: absolute;

  top: 216vw;
  left: 60vw;
}

.pen img {
  max-width: 100%;
  height: auto;
}

.eraser {
  width: 10vw;
  position: absolute;

  top: 200vw;
  left: 70vw;
}

.eraser img {
  max-width: 100%;
  height: auto;
}

/* <!-- вторая рамка --> */
.border2 {
  position: absolute;

  top: 246vw;
  z-index: 3;
  transform: rotate(2deg);
}

.border2 img {
  max-width: 83%;
  height: auto;
}

/* <!-- гардероб --> */

.wardrobebackground {
  position: absolute;

  top: 247vw;
}

.wardrobebackground img {
  max-width: 100%;
  height: auto;
}

.men {
  position: absolute;

  width: 21vw;
  top: -3vw;
  left: 5vw;
}

.memwithhair {
  position: absolute;

  width: 21vw;
  top: -0.5vw;
  left: 5vw;
}
.mangirl {
  position: absolute;

  width: 25.5vw;
  top: 2vw;
  left: 0.5vw;
}

.manhse {
  position: absolute;

  width: 29vw;
  top: 1vw;
  left: 1vw;
}
.baghse {
  position: absolute;

  height: 70vh;
  top: -7vh;
  left: 70vw;
}

.baghse:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(10deg) scale(1.02);
}

.baghse img {
  max-width: 100%;
  height: auto;
}

.hair {
  position: absolute;

  left: 55vw;
  top: 46vh;
}
.hair:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(10deg) scale(1.02);
}

.hair2 {
  position: absolute;

  left: 46vw;
  top: 3.5vw;
}

.bookk {
  position: absolute;

  left: 45vw;
  top: 50.5vh;
}

.closedoor {
  position: absolute;

  width: 68vw;
  right: 0;
  top: -4vh;
  opacity: 1;
  z-index: 5;
  cursor: pointer;
}

.opendoor {
  position: absolute;

  width: 68vw;
  right: -2vw;
  top: -12vh;
  opacity: 0;
  z-index: 6;
  pointer-events: none;
}

.opendoor img {
  width: 100%;
  height: auto;
}
.closedoor:hover {
  opacity: 0;
}

.closedoor:hover ~ .opendoor {
  opacity: 1;
}

/* забыла проставить индекс у предметов в шкафу*/
.men,
.baghse,
.hair,
.hair2,
.bookk {
  z-index: 4;
}

.wardrobebackground.door-open .men,
.wardrobebackground.door-open .baghse,
.wardrobebackground.door-open .hair,
.wardrobebackground.door-open .hair2,
.wardrobebackground.door-open .bookk {
  z-index: 10;
}

.wardrobebackground.door-open .closedoor {
  opacity: 0;
  pointer-events: none;
}

.wardrobebackground.door-open .opendoor {
  opacity: 1;
}

/* Анимации для появления персонажа */
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes return {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Сообщение при drag & drop */
.drag-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 1000;
  display: none;
  pointer-events: none;
  white-space: nowrap;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  15% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

.hair,
.hair2,
.baghse,
.bookk {
  cursor: grab;
  transition: all 0.1s ease;
}

.hair:active,
.hair2:active,
.baghse:active,
.bookk:active {
  cursor: grabbing;
}

/* подвал */
.final {
  position: relative;
  margin-top: 458vh;
}

.final img {
  width: 100%;
  height: auto;
}

.cut {
  position: absolute;
  top: 295vw;
  left: 11vw;
}
.cut2 {
  position: absolute;
  top: 295vw;
  left: 29vw;
}
