/* Оформление */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
body {
  overflow-x: hidden;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: rgba(1, 1, 1, 1);
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* секция с приветсвием */
.greetings {
  border: 2px solid red;
}

.greetings img {
  max-width: 100%;
  height: auto;
}

.name {
  position: absolute;
  border: 2px solid red;
  width: 60vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-image: url(../img/name.png);
  background-size: contain;
  background-position: center; /* Центрирует изображение */
  top: 2vh;
  left: 20vw;
}

/* промежуточный блок */
.bigtape {
  position: absolute;
  top: 32vh;
}
.bigtape img {
  max-width: 100%;
  height: auto;
  z-index: 2;
}

/* секция со скотчем */
.box {
  border: 2px solid red;
}

.box img {
  max-width: 100%;
  height: auto;
}

.tape1 {
  position: absolute;
  border: 2px solid red;
  width: 13vw;
  height: 26vh;
  background-image: url(../img/minitape1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* Центрирует изображение */
  top: 32vh;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.minitape1 {
  border: 2px solid red;
  top: 30vh;
  left: 5vw;
  z-index: 3;
  position: absolute;
}

.minitape1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 8vw;
}

.minitape1:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape2 {
  border: 2px solid red;
  top: 45vh;
  left: 15vw;
  z-index: 3;
  transform: rotate(-18deg);
  position: absolute;
}
.minitape2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
}

.minitape2:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-3deg) scale(1.02);
}
.minitape3 {
  top: 27vh;
  left: 19vw;
  z-index: 3;
  transform: rotate(-15deg);
  position: absolute;
}

.minitape3 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 11vw;
}

.minitape3:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-3deg) scale(1.02);
}

.minitape4 {
  top: 34vh;
  left: 27vw;
  z-index: 3;
  transform: rotate(16deg);
  position: absolute;
}

.minitape4 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 12vw;
}

.minitape4:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(13deg) scale(1.02);
}

.minitape5 {
  top: 34vh;
  left: 43vw;
  z-index: 3;
  transform: rotate(40deg);
  position: absolute;
}

.minitape5 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 11vw;
}

.minitape5:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(37deg) scale(1.02);
}

.minitape6 {
  top: 28vh;
  left: 50vw;
  z-index: 3;
  position: absolute;
}

.minitape6 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 10vw;
}

.minitape6:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape7 {
  top: 32vh;
  left: 60vw;
  z-index: 3;
  position: absolute;
}

.minitape7 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 5vw;
  transform: rotate(5deg);
}

.minitape7:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape8 {
  top: 38vh;
  left: 63vw;
  z-index: 3;
  position: absolute;
}

.minitape8 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
  transform: rotate(-5deg);
  position: absolute;
}

.minitape8:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(3deg) scale(1.02);
}

.minitape9 {
  top: 43vh;
  left: 72vw;
  z-index: 3;
  transform: rotate(19deg);
  position: absolute;
}

.minitape9 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
  transform: rotate(-5deg);
}

.minitape9:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(17deg) scale(1.02);
}

.minitape10 {
  top: 20vh;
  left: 70vw;
  z-index: 3;
  transform: rotate(315deg);
  position: absolute;
}
.minitape10 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 12vw;
  transform: rotate(-5deg);
}

.minitape10:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(318deg) scale(1.02);
}

.minitape11 {
  top: 18vh;
  left: 80vw;
  z-index: 3;
  transform: rotate(-10deg);
  position: absolute;
}

.minitape11 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 7vw;
  transform: rotate(-5deg);
}

.minitape11:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-7deg) scale(1.02);
}

.minitape12 {
  top: 23vh;
  left: 87vw;
  z-index: 3;
  transform: rotate(-20deg);
  position: absolute;
}

.minitape12 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 11vw;
  transform: rotate(-20deg);
}

.minitape12:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-17deg) scale(1.02);
}

.minitape13 {
  top: 30vh;
  left: 1vw;
  z-index: 3;
  transform: rotate(-4deg);
  position: absolute;
}

.minitape13 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 6vw;
}
.minitape13:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(1deg) scale(1.02);
}

.minitape14 {
  top: 34vh;
  left: 14vw;
  z-index: 3;
  transform: rotate(13deg);
  position: absolute;
}
.minitape14 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 6vw;
}

.minitape14:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(10deg) scale(1.02);
}

.minitape15 {
  top: 33vh;
  left: 42vw;
  z-index: 3;
  transform: rotate(-26deg);
  position: absolute;
}

.minitape15 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 8vw;
}
.minitape15:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-20deg) scale(1.02);
}

.minitape16 {
  top: 29vh;
  left: 36vw;
  z-index: 3;
  transform: rotate(-340deg);
  position: absolute;
}
.minitape16 img {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  width: 9vw;
}

.minitape16:active {
  cursor: grabbing;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
  transform: rotate(-317deg) scale(1.02);
}

/* <!-- cекция с изучением предметов --> */

.boxwiththings {
  border: 2px solid red;
  position: absolute;
  top: 120vh;
  z-index: -1;
}

.boxwiththings img {
  max-width: 100%;
  height: auto;
}

.box2 {
  position: absolute;
  z-index: 1;
  top: 100vw;
}

.box2 {
  height: 80vh;
  z-index: 3;
  position: absolute;
  top: 200vh;
  left: 35vw;
}

.box2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shadow img {
  width: 100%;
  height: 100%;
}

.shadow {
  height: 55vh;
  z-index: 2;
  position: absolute;
  top: 215vh;
  left: 42vw;
}

.boxinfront {
  height: 54vh;
  object-fit: contain;
  position: absolute;
  top: 218vh;
  left: 41vw;
  z-index: 5;
}

.boxinfront img {
  width: 100%;
  height: 100%;
}

.firstwheel {
  height: 50vh;
  object-fit: contain;
  position: absolute;
  top: 186vh;
  left: 41vw;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: rotate 10s linear infinite;
}

.firstwheel img {
  width: 100%;
  height: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.firstwheel:hover {
  transform: scale(1.2);
  top: calc(186vh - 4%);
}

.lamp {
  height: 70vh;
  object-fit: contain;
  position: absolute;
  top: 172vh;
  left: 50vw;
  z-index: 4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.lamp img {
  width: 100%;
  height: 100%;
}

.lamp:hover {
  transform: scale(1.1);
  top: calc(172vh - 2%);
}

.printingmachine {
  height: 65vh;
  object-fit: contain;
  position: absolute;
  top: 175vh;
  left: 53vw;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: rotate(-13deg);
}

.printingmachine img {
  width: 100%;
  height: 100%;
}

.printingmachine:hover {
  top: calc(175vh - 2%);
  transform: scale(1.1);
}

.paper {
  height: 40vh;
  object-fit: contain;
  position: absolute;
  top: 235vh;
  left: 5vw;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
}

.paper img {
  width: 100%;
  height: 100%;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* секция с глазами */
.section4 {
  position: absolute;
  top: 282vh;
}

.eyebackground img {
  width: 100%;
  height: 100%;
}

.pupil1 {
  position: absolute;
  top: 80vh;
  z-index: 2;
}
